* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Sarala', sans-serif;
  font-size: 1em;
}

@media (min-width: 768px) {
  body {font-size: 1.125em;}
}

@media (min-width: 1024px) {
  body {font-size: 1.250em;}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
